/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

article {
    color: blue;
}

h2 {
    text-align: center;
}

.localSource {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 100%;
}

.pexelSource {
    display: block;
    margin-left: 20px;
    width: 50%;
    height: 50%
}

#section-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 100px;

}